*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: pink;
}

@media screen and (min-width:769px) and (max-width:1024px){ 
	body{ 
	background: orange;
	 }
}	

  .contenedor{
  	display: grid;
  	grid-template-columns:70% 30%; 
  	grid-template-rows:/* esto es lo normalrepeat(auto)*/
  	150px 500px 200px ;
  	grid-template-areas: "espejito espejito"
  						 "quien seria"
  						 "bonita bonita"
  }

  .uno {grid-area:espejito;
  	background: yellow;
  	padding: 20px;

  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  } 
  .uno nav ul li{
  	list-style: none;
  	display: inline-block;
  }
  .dos{
  	grid-area: quien;
  	background-color: blue;
  }
  .tres{
  	grid-area: seria;
  	color:pink;
  }
  .cuatro{
  	grid-area: bonita;
  	background-color: grey;
  }